data/
db/
greybox_tmp/
*.log
*.rpt
*.done
*.fit.*
*.map.*
*.sta.*


incremental_db/
initzero.mif
ram2port.qip
tmp/
vga.cdf
vga.pin
vga.pof
vga.qpf
vga.qsf
vga.sdc
vga.sof
vga_tmp_archive.qar
vga_tmp_archive.qarlog
